<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Kate's Book Blog</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/maincover.css">
        <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-image">
                        <header class="header"><h1 class="text-capitalize">istoria</h1>book quotes
                        </header>
                        <div class="col-xs-6 col-sm-3 links"><a href="/main">Contribute</a><br><a href="/front">Read</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>